
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <h3 class="header smaller lighter blue">SINH VIÊN</h3>
                    <div class="card-header">
                        <a href="#" class="btn btn-success">Thêm</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sinh viên</th>
                                    <th>Họ và tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Lớp</th>
                                    <th>Ghi chú</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                <tr>
                                    <td>@i</td>
                                    <td>17150008</td>
                                    <td>Đặng Quang Đạt</td>
                                    <td>28/03/1999</td>
                                    <td>CNPM16</td>
                                    <td></td>
                                    <td><a href="#" class="badge badge-warning">Sửa</a></td>
                                    <td><a href="#" class="badge badge-danger">Xóa</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
