
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <h3 class="header smaller lighter blue">HỌC PHẦN</h3>
                    <div class="card-header">
                        <a href="#" class="btn btn-success">Thêm</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Môn học</th>
                                    <th>STC</th>
                                    <th>Lớp môn học</th>
                                    <th>Tên giảng viên</th>
                                    <th>Thứ</th>
                                    <th>Tiết</th>
                                    <th>giảng đường</th>
                                    <th>Số SV</th>
                                    <th>Số SVDK</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                <tr>
                                    <td>@i</td>
                                    <td>Thực tập CNTT</td>
                                    <td>3</td>
                                    <td>TTCNTT</td>
                                    <td>Phan Nguyên Hải</td>
                                    <td>Thứ 6</td>
                                    <td>Tiết 1-4</td>
                                    <td>H9-201</td>
                                    <td>50</td>
                                    <td>48</td>
                                    <td><a href="#" class="badge badge-warning">Sửa</a></td>
                                    <td><a href="#" class="badge badge-danger">Xóa</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            Môn học
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Số tín chỉ
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Tên giảng viên
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Số sinh viên
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Số sinh viên đăng ký
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Thứ
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Thứ</option>
                <option value="1">Thứ 2</option>
                <option value="2">Thứ 3</option>
                <option value="3">Thứ 4</option>
                <option value="4">Thứ 5</option>
                <option value="5">Thứ 6</option>
                <option value="5">Thứ 7</option>
                <option value="5">Chủ Nhật</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Giảng đường
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Giảng đường</option>
                <option value="1">H9</option>
                <option value="2">H5</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Tiết
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Bắt đầu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>kết thúc</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="4">10</option>
                <option value="5">11</option>
                <option value="6">12</option>
            </select>
        </div>
    </div>
    <h2>Điểm</h2>
    <div class="row">
        <div class="col-sm-3">
            Điểm chuyên cần
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Điểm thường xuyên
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Điểm thi
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
    </div>

</div>
